body {
    margin: 50; width: 92%
}
a {
    text-decoration: none; color: #707171;
}
a:hover {
    text-decoration:overline;
}
p, ul { 
    font-size: 21px; 
    line-height: 1.8em; 
    color: #222; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:200;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707171;
}
li {
  float: left;
}
.logo {
    margin: 9;
    font-size: 25;
    font-weight: 500;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9 16;
  text-decoration: none;
}
a:hover:not(.active) {
  background-color: #222;
}
.active {
  background-color:#4CAF50;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
    color: #222;
}
.img-sideplant {
    width: 300;
}
.img-rightplant {
    width: 300;
    margin-left: 37;
    margin-top: 30;
}
.img-rightcactus {
    width: 300;
    margin-left: 37;
}
.img-leaf {
    width: 300;
    margin-left: 37;
}
.img-vaseplants {
    width: 300;
    margin-top: 30;
}
.img-stringplant {
    width: 300;
    margin-left: 37;
    margin-top: 30;
}
.img-boxplant {
    width: 300;
    margin-left: 37;
    margin-top: 30;
}
.img-smallvaseplant {
    width: 300;
    margin-left: 37;
    margin-top: 30;
}
.img-leftplant {
    width: 300;
    margin-left: 37;
    margin-top: 30;
}
