/* Website format to make it not extend fully*/
body {
    margin: 50px; width: 92%
}
/* Navigation bar format */
    /* Removing the automatic underline for links and changing the color to make it attractive and more professional looking */
a {
    text-decoration: none; color: #707171;
}
    /* When you hover over the navigation bar, an overline will appear to make it fancy */
.navigation a:hover {
    text-decoration:overline;
}
    /* Changing the font and font style of the navigation bar to make it more appealing */
.navigation p, ul { 
    font-size: 21px; 
    line-height: 1.8em; 
    color: #222; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:200;
}
    /* Making the color of the navigation bar gray, the overflow clipped, no margin and padding, and no list style to make it  */
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #707171;
}
    /* The navigation bar floats to the left in the container */
.navigation li {
  float: left;
}
    /* Changing the font and font style of the "apcsp |" in the navigation bar and changing the margin to make it consistent with the rest of the nav bar */ 
.logo {
    margin: 9px;
    font-size: 25px;
    font-weight: 500;
}
    /* Changing the font and font style of the text within the navigation bar; as well as getting rid of underlines and aligning the text to the middle to make it prettier and centered */
.navigation li a {
  display: block;
  color: white;
  text-align: center;
  padding: 9px 16px;
  text-decoration: none;
}
    /* Change color of text to a dark gray when hovered over to create contrast */
a:hover:not(.active) {
  background-color: #222;
}
.active {
  background-color:#4CAF50;
}
/* Home page headers format */
    /* Changing font, font style, and color of the headers and paragrapgs under the info class to make it more appealing and less generic */
.info h1 {
  font-family: 'Roboto Condensed', sans-serif;
    color: #222;
}
.info p {
   font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px
}
/* Home page images format */
    /* Adjusting the margins and size of each photo on the home page to make it more aesthetic and spaced out. It gives it a minimalistic feel */
.mountains {
    width: 95%;
    margin-left: 35px;
}
.img-sideplant {
    width: 300px;
}
.img-rightplant {
    width: 300px;
    margin-left: 37px;
    margin-top: 30px;
}
.img-rightcactus {
    width: 300px;
    margin-left: 37px;
}
.img-leaf {
    width: 300px;
    margin-left: 37px
}
.img-vaseplants {
    width: 300px;
    margin-top: 30px;
}
.img-stringplant {
    width: 300px;
    margin-left: 37px;
    margin-top: 30px;
}
.img-boxplant {
    width: 300px;
    margin-left: 37px;
    margin-top: 30px;
}
.img-smallvaseplant {
    width: 300px;
    margin-left: 37px;
    margin-top: 30px;
}
.img-leftplant {
    width: 300px;
    margin-left: 37px;
    margin-top: 30px;
}
/* Profile headers format */
    /* Altering the font, font size, margin, and color of the header and paragraphs in the profile page to make it consistent with the home page */ 
.profile p {
    font-size: 26px;
    margin-right: 700px;
    font-family: 'Roboto Condensed', sans-serif;
    color: #2c2c2c
}
.profile h3 {
    font-size: 45px;
    color: #B3B3B3;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Profile > Favorites list format */
    /* Changing the font weight, color, and left margin of my favorites list to create a contrast and a distinctive difference between the regular paragraphs and the list */
.favs p {
    font-weight: bold;
    color: #656565;
    margin-left: 80px;
    font-family: 'Roboto Condensed', sans-serif;
}
    /* Modify the margin and font size of this excerpt to create contrast and make it seem like a little blurb/side note compared to the main paragraphs */
/* Profile > Book section format */
.profile .book {
    margin-left: 80px;
    font-size: 20px;
}
/* Profile > Fun facts list format */
    /* Making adjustments to the font format and margins of the fun facts list to create uniformity throughout the page; as well as specifically making it a list to change up the configuration of the page */
.profile li {
    margin-right: 700px;
    font-size: 26px;
}
.funfacts ul {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: 500;
}
.info ol {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 26px;
    font-weight: 500;
}
/* Profile page images format */
.davebread {
    position: absolute;
        left: 700px;
    width: 300px;
    border-style: dotted;
}
.nuttzo {
    position:absolute;
        left:1100px;
    width: 300px;
    border-style: dotted;
}
.hp {
    position: absolute;
    left:700px;
    width: 220px;
    border-style: dotted;
}
.yourname {
    position:absolute;
        left:1100px;
    width: 250px;
    border-style: dotted;
}
.me {
    position: absolute;
    left:930px;
    width: 180px;
    border-style: dotted;
}
.dog {
    position: absolute;
    left:900px;
    width: 180px;
    border-style: dotted;
}
.cat {
    position:absolute;
        left:1150px;
    width: 220px;
    border-style: dotted;
}
/* Something fun page headers format */
.vidsandpics h3 {
    font-size: 45px;
    color: #B3B3B3;
    font-family: 'Roboto Condensed', sans-serif;
}
.vidsandpics h4 {
    font-family: 'Roboto Condensed', sans-serif;
    color: #B3B3B3;
    font-size: 27px;
    margin-left: 80px
}
/* Something fun page drawing images format */
.boldandbrash {
   width: 200px; 
    margin-left: 130px;
    border-style: solid;
    
}
.cowboy {
    width: 200px;
    margin-left: 30px;
    border-style: solid;
}
.planet {
    width: 200px;
    margin-left: 30px;
    border-style: solid;
}
.pink {
    width:200px;
    margin-left: 30px;
    border-style: solid;
}
.monstera {
    width: 200px;
    margin-left: 30px;
    border-style: solid;
}
.aloe {
    width: 300px;
    margin-left: 220px;
    border-style: solid;
}
.hair {
    width: 300px;
    margin-left: 30px;
    margin-top: 30px;
    border-style: solid;
        
}
.chicken {
    width: 300px;
    margin-left: 30px;
    border-style: solid;
}
.christie {
    width: 350px;
    margin-left: 130px;
    margin-top: 30px;
    border-style: solid;
}
.poki {
    width: 400px;
    margin-left: 30px;
    border-style: solid;
}
.offramp {
    width: 350px;
    margin-left: 30px;
    border-style: solid;
}
